html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

header {
	text-align: center;
}

header h1 {
	font-size: 4em;
}

form input {
	display: block;
	margin-bottom: 1em;
	font-size: 1.75em;
}

.logo-container {
	width: 50%;
	height: 20em;
}

.brand-logo {
	height: 100%;
	background-image: url('generic-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
}

opt-in {
	display: block;
	width: 60em;
	margin: 0 auto;
}

.container {
	width: 100%;
	height: 100%;
}

.logo-container, .form {
	display: inline-block;
	vertical-align: top;
}

button {
	font-size: 1.75em;
}